:root {
    --principalPadding: 35px 250px;
    --backgroundColor: #fff;
    --fontFamily : 'Inter', sans-serif;
    --inputBackgroundColor: rgb(57, 61, 83);
    --inputHover: rgb(75, 78, 97);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.body {
    background-color: rgb(23, 26, 43);
}


/*Sección Header*/

.title {
    margin-top: 19px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 36, 49);
    font-family: var(--fontFamily);
    color: var(--backgroundColor);
    z-index: 1;
}

.buttons-container {
    margin: 5px;
    padding: 10px;
}

.button {

    margin: 6px;
    padding: 7px;
    font-family: var(--fontFamily);
    background-color: rgb(36, 36, 49);
    border-style: none;
    color: var(--backgroundColor);
    cursor: pointer;
    line-height: 1;
    font-size: 0.8rem;
    transition: 0.1s;

    
}

.button:hover {

    background-color: rgb(125, 131, 136);
    color: var(--backgroundColor);
    border-radius: 4px;
    
    
}


/*Fin Sección Header*/


/*Sección Container de Meme*/

.container-meme {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
    width: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    
}

.top-text {

    text-align: center;
    padding: var(--principalPadding);
    background-color: #fff;

}

#figure {

    display: flex;
    flex-grow: 1;
    background-color: black;
    padding: 0px;
    height: 250px;
    width: 100%;
   

}

#image {
    
    display: flex;
    flex-grow: 1;
    height: 250px;
    width: 100%;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}

.bottom-text {

    text-align: center;
    padding: var(--principalPadding);
    background-color: var(--backgroundColor);
    
}

.download-button {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin: 20px;
    background-color: rgb(10, 105, 10);
    border-style: none;
    border-radius: 3px;
    color: var(--backgroundColor);
    cursor: pointer;
    transition: 0.1s;
    
}

.download-button:hover {
    background-color: rgb(93, 190, 93);
}

/*Comienzo Seccion Sidebar Image*/

/*.image-sidebar {
    
    display: block;
    flex-direction: column;
    background-color: rgb(55, 52, 70);
    text-align: left;
    font-family: var(--fontFamily);
    color: var(--backgroundColor);
    width: 15%;
    height: 100%;
    padding: 15px;
    position:absolute;
    right: 0;
    
}

.image {

    padding: 5px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: bold;
}

.values-column {

    display: flex;
    flex-direction: column;
    width: 93%;
    margin: 3px;
    padding: 5px;
    font-size: 12px;   
    font-weight: 400;
}

#img {

    margin-top: 5px;
    height: 40px;
    background-color: var(--inputBackgroundColor);
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

#img:hover {

    background-color: var(--inputHover);
    outline-color: rgb(75, 78, 97)
}

#color {

    margin-top: 5px;
    background-color: var(--inputBackgroundColor);
    border: none;
    padding: 5px;
    border-radius: 5px;
    
}

.set-up-values {

    display: flex;
    flex-direction: column;
}

.select-list {

    background-color: var(--inputBackgroundColor);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--backgroundColor);
}

.select-list:hover {

    background-color: var(--inputHover);
}


input[type="range"] {
    
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}



input[type="range"]::-webkit-slider-runnable-track {

    background: var(--inputBackgroundColor);
    height: 0.5rem;

}


input[type="range"]::-moz-range-track {

    background: #053a5f;
    height: 0.5rem;

}


input[type="range"]::-webkit-slider-thumb {

    -webkit-appearance: none; 
    appearance: none;
    margin-top: -1px; 
    background-color: #a1a7a8;
    height: 11px;
    width: 11px;    
    border-radius: 5px;

}



#btn-reset {

    display: flex;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    width: 75%;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #50585a;
    color: #fff;
    transition: 0.1s;

}

#btn-reset:hover {

    background-color: var(--inputHover);

}*/

/*Fin Seccion Sidebar Image*/


/*Comienzo Seccion Sidebar Text*/

.text-sidebar {
    
    display: block;
    flex-direction: column;
    background-color: rgb(55, 52, 70);
    text-align: left;
    font-family: var(--fontFamily);
    color: var(--backgroundColor);
    width: 15%;
    height: 100%;
    padding: 15px;
    position:absolute;
    right: 0;

}

