:root {
    --principalPadding: 35px 250px;
    --fontColor: #fff;
    --fontFamily : 'Inter', sans-serif;
    --inputBackgroundColor: rgb(57, 61, 83);
    --inputHover: rgb(75, 78, 97);
    --bodyBackgroundColor: rgb(23, 26, 43);
    --headerBackgroundColor:  rgb(36, 36, 49);



    /*Estilos para las sidebar*/

    --displaySidebar: block;
    --flexDirectionSidebar: column;
    --backgroundColorSidebar: rgb(55, 52, 70);
    --textAlignSidebar: left;
    --fontFamilySidebar: var(--fontFamily);
    --colorSidebar: var(--fontColor);
    --widthSidebar: 15%;
    --heightSidebar: 100%;
    --paddingSidebar: 15px;
    --positionSidebar:absolute;
    --rightSidebar: 0;

}

[data-theme="light-theme"] {
    --bodyBackgroundColor: #e7e7e7;
    --headerBackgroundColor: #ababab;
    --fontColor: #353333;
    --backgroundColorSidebar: #f8f6f6;
    --colorSidebar: var(--fontColor);
    --inputBackgroundColor: #ababab;
    --inputHover: #e7e7e7;
       
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: var(--bodyBackgroundColor);
}


/*Sección Header*/

.title {
    margin-top: 19px;
    color: var(--fontColor);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--headerBackgroundColor);
    font-family: var(--fontFamily);
    color: var(--fontColor);
    z-index: 1;
}

.buttons-container {
    margin: 5px;
    padding: 10px;
}

.button {

    margin: 6px;
    padding: 7px;
    font-family: var(--fontFamily);
    background-color: var(--headerBackgroundColor);
    border-style: none;
    color: var(--fontColor);
    cursor: pointer;
    line-height: 1;
    font-size: 0.8rem;
    transition: 0.1s;

    
}

.button:hover {

    background-color: rgb(125, 131, 136);
    color: var(--fontColor);
    border-radius: 4px;
    
    
}


/*Fin Sección Header*/



/*Sección Container de Meme*/

.container-meme {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
    width: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    
    
}

.top-text {

    text-align: center;
    padding: var(--principalPadding);
    background-color: #fff;
    

}

#meme-box {

    display: flex;
    flex-grow: 1;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 0px;
    height: 250px;
    width: 100%;
   

}



.bottom-text {

    text-align: center;
    padding: var(--principalPadding);
    background-color: #fff;
    
    
}

.download-button {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin: 20px;
    background-color: rgb(10, 105, 10);
    border-style: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
    
}

.download-button:hover {
    background-color: rgb(93, 190, 93);
}

/*Fin Seccion Container de Meme*/



/*Comienzo Seccion Sidebar Image*/

.image-sidebar {
    
    display: block;
    flex-direction: column;
    background-color: var(--backgroundColorSidebar);
    text-align: left;
    font-family: var(--fontFamily);
    color: var(--colorSidebar);
    width: 15%;
    height: 100%;
    padding: 15px;
    position:absolute;
    right: 0;
    
}

.image {

    padding: 5px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: bold;
}

.values-column {

    display: flex;
    flex-direction: column;
    width: 93%;
    margin: 3px;
    padding: 5px;
    font-size: 12px;   
    font-weight: 400;
}

#img {

    margin-top: 5px;
    height: 40px;
    background-color: var(--inputBackgroundColor);
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

#img:hover {

    background-color: var(--inputHover);
    outline-color: rgb(75, 78, 97)
}

#color {

    margin-top: 5px;
    background-color: var(--inputBackgroundColor);
    border: none;
    padding: 5px;
    border-radius: 5px;
    
    
}

.set-up-values {

    display: flex;
    flex-direction: column;
}

.select-list {

    background-color: var(--inputBackgroundColor);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--backgroundColor);
}

.select-list:hover {

    background-color: var(--inputHover);
}


input[type="range"] {
    
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}



input[type="range"]::-webkit-slider-runnable-track {

    background: var(--inputBackgroundColor);
    height: 0.5rem;

}


input[type="range"]::-moz-range-track {

    background: #053a5f;
    height: 0.5rem;

}


input[type="range"]::-webkit-slider-thumb {

    -webkit-appearance: none; 
    appearance: none;
    margin-top: -1px; 
    background-color: #a1a7a8;
    height: 11px;
    width: 11px;    
    border-radius: 5px;

}



#btn-reset {

    display: flex;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    width: 75%;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #50585a;
    color: #fff;
    transition: 0.1s;

}

#btn-reset:hover {

    background-color: var(--inputHover);

}

/*Fin Seccion Sidebar Image*/


/*Comienzo Seccion Sidebar Text*/

.text-sidebar {
    
    display: var(--displaySidebar);
    flex-direction: var(--flexDirectionSidebar);
    background-color: var(--backgroundColorSidebar);
    text-align: var(--textAlignSidebar);
    font-family: var(--fontFamilySidebar);
    color: var(--colorSidebar);
    width: var(--widthSidebar);
    height: var(--heightSidebar);
    padding: var(--paddingSidebar);
    position:var(--positionSidebar);
    right: var(--rightSidebar);
    display: none;

}

.text {

    padding: 5px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: bold;
    

}

.superior {

    display: flex;
    flex-direction: column;
    
    
}

.label {
    font-size: 0.70rem;
    font-weight: bold;
}

.form-text-box-values {

    margin-top: 5px;
    height: 40px;
    background-color: var(--inputBackgroundColor);
    border-radius: 5px;
    border: none;
    color: var(--fontColor);
    font-size: 0.70rem;
    transition: 0.3s;

}

.form-text-box-values:hover {
    
    background-color: var(--inputHover);
    outline-color: rgb(75, 78, 97)

}

.checkbox {
    font-size: 0.70rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.lower {
    display: flex;
    flex-direction: column;
}


.fonts {
    display: flex;
    flex-direction: column;
}

.fonts-values-column {
    display: flex;
    flex-direction: column;

}

.select-list-2 {

    background-color: var(--inputBackgroundColor);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--backgroundColor);
}

.select-list-2:hover {

    background-color: var(--inputHover);
}

#number {

    padding: 5px;
    width: 50%;
    margin-top: 5px;
    background-color: var(--inputBackgroundColor);
    border-radius: 5px;
    border: none;
    color: var(--fontColor);
    font-size: 0.70rem;
    transition: 0.3s;

}

#number:hover {

    background-color: var(--inputHover);
    outline-color: rgb(75, 78, 97);

}


.container-btn-and-fontsize {
    display: flex;
    flex-direction: row;
}

.button-align {

    background-color:var(--inputBackgroundColor);
    padding: 12px;
    margin-left: 5px;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.70rem;
    transition: 0.3s;
    
}

.button-align:hover {
    background-color: var(--inputHover);
    outline-color: rgb(75, 78, 97);

}


/*Aca van a ir los buttons*/





.color-and-background {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.select-color {

    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.change-color-and-bg-values {

    margin-top: 5px;
    background-color: var(--inputBackgroundColor);
    border: none;
    padding: 5px;
    border-radius: 5px;
    

}

.select-background {

    display: flex;
    flex-direction: column;
    
}


.contouring {

    display: flex;
    flex-direction: column;
}

.contouring-row {
    display: flex;
    flex-direction: row;

}

.contouring-btn {

    display: block;
    margin-top: 5px;
    margin-left: 1.7px;
    margin-bottom: 10px;
    padding: 15px;
    height: 40px;
    background-color: var(--inputBackgroundColor);
    border-radius: 5px;
    border: none;
    color: var(--fontColor);
    font-size: 0.70rem;
    cursor: pointer;
    transition: 0.3s;

}

.contouring-btn:hover {

    background-color: var(--inputHover);
    outline-color: rgb(75, 78, 97)

}

.space {
    display: flex;
    flex-direction: column;
}

.leading {
    display: flex;
    flex-direction: column;
}


